{% extends "base.html" %}

{% block navbar_menu %}
<ul class="navbar-nav me-auto">
    <li class="nav-item"><a class="nav-link" href="/sistema_de_ponto/">Inicio</a></li>
    <li class="nav-item">
        {% if user.is_authenticated %}
        <!-- Se o usuário estiver logado, o link chama um popup -->
        <a class="nav-link" href="#" id="cadastro-link">Cadastro</a>
        {% else %}
        <!-- Se não estiver logado, redireciona para a página de cadastro -->
        <a class="nav-link" href="/sistema_de_ponto/cadastro/">Cadastro</a>
        {% endif %}
    </li>
</ul>

<div class="d-flex align-items-center gap-2">
    {% if user.is_authenticated %}
    <a href="/sistema_de_ponto/logout/" class="btn btn-outline-danger btn-sm">Sair</a>
    {% endif %}

    <!-- Botão darkmode -->
    <button class="btn btn-outline-secondary" id="theme-toggle" title="Alternar tema">🌙</button>
</div>

{% if user.is_authenticated %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const cadastroLink = document.getElementById('cadastro-link');
        cadastroLink.addEventListener('click', function (e) {
            e.preventDefault();
            alert('Você já está cadastrado!');
        });
    });
</script>
{% endif %}
{% endblock %}